{{#compress}}
<!DOCTYPE html>
<html lang="{{ __.Site.languaje }}">
<head>
    {{> site/metas }}
    <title>Making developers</title>
    {{#css}}
      <link rel="stylesheet" type="text/css" href="{{ this }}"/>
    {{/css}}
</head>
<body>
    {{> site/header }}

    <div class="container">
        {{{ body }}}
    </div>
    {{> development/livereload }}
</body>
</html>
{{/compress}}
